@model KaraCadir.Northwind.MvcWebUI.Models.ShippingDetailsViewModel
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Adres Bilgileri</h2>

<div class="row">
    <form class="col-md-6 mt-3" asp-controller="Cart" asp-action="Complete" method="post">
        <div class="form-group">
            @*<label asp-for="ShippingDetails.FirstName"></label>*@
            <input asp-for="ShippingDetails.FirstName" class="form-control" placeholder="Adınız" />
            <span asp-validation-for="ShippingDetails.FirstName"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="ShippingDetails.FirstName"></label>*@
            <input asp-for="ShippingDetails.LastName" class="form-control" placeholder="Soyadınız" />
            <span asp-validation-for="ShippingDetails.LastName"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="ShippingDetails.FirstName"></label>*@
            <input asp-for="ShippingDetails.Email" class="form-control" placeholder="E-posta adresiniz" />
            <span asp-validation-for="ShippingDetails.Email"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="ShippingDetails.FirstName"></label>*@
            <input asp-for="ShippingDetails.City" class="form-control" placeholder="Şehir" />
            <span asp-validation-for="ShippingDetails.City"></span>
        </div>
        <div class="form-group">
            @*<label asp-for="ShippingDetails.FirstName"></label>*@
            <input asp-for="ShippingDetails.Address" class="form-control" placeholder="Adres" />
            <span asp-validation-for="ShippingDetails.Address"></span>
        </div>
        <input type="submit" value="Devam Et" class="btn btn-sm btn-success" />
    </form>
</div>